{% if include.icon == "web" %}<div class="icon" style="background: url('{{ '/assets/Network_icon.png' | relative_url }}') center/cover;"></div>{% endif %}
{% if include.icon == "playstore" %}<div class="icon" style="background: url('{{ '/assets/Google_play_icon.png' | relative_url }}') center/cover;"></div>{% endif %}
{% if include.icon == "medium" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#medium' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "dribbble" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#dribbble' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "facebook" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#facebook' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "flickr" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#flickr' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "github" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "instagram" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#instagram' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "linkedin" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#linkedin' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "pinterest" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#pinterest' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "mastodon'" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#mastodon' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "twitter" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#twitter' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "youtube" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#youtube' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "googleplus" %}<svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#googleplus' | relative_url }}"></use></svg>{% endif %}
{% if include.icon == "fdroid" %}<div class="icon" style="background: url('{{ '/assets/fdroid-logo.png | relative_url }}') center/cover;"></div>{% endif %}
