<ul class="social-media-links">
{% for link in include.links %}
<li><a href="{{ link.url }}" title="{{ link.title }}">
  {% if link.icon == "playstore" %}<div class="google-play-icon" style="background: url('{{ '/assets/Google_play_icon.png' | relative_url }}') center/cover;"></div>{% endif %}
  {% if link.icon == "medium" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#medium' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "dribbble" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#dribbble' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "facebook" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#facebook' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "flickr" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#flickr' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "github" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "instagram" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#instagram' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "linkedin" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#linkedin' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "pinterest" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#pinterest' | relative_url }}"></use></svg>{% endif %}
  {% for mst in site.mastodon %}{% if mst.username and mst.instance %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#mastodon' | relative_url }}"></use></svg>{% endif %}{% endfor %}
  {% if link.icon == "twitter" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#twitter' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "youtube" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#youtube' | relative_url }}"></use></svg>{% endif %}
  {% if link.icon == "googleplus" %}<svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#googleplus' | relative_url }}"></use></svg>{% endif %}
</a></li>
{% endfor %}
</ul>
