<div class="mdl-grid">
  {% for work in include.works %}
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
    <a style="color: inherit; text-decoration:none;" href="{{ work.links[0].url }}">
      <div class="mdl-card__title" {% if work.banner %} style="background: url('{{ work.banner }}') center/cover;" {% endif %}>
      </div>
    </a>
    <div class="mdl-card__supporting-text">
      <div class="title-with-links">
        <h2 class="mdl-card__title-text">{{ work.name }}</h2>
	<ul class="media-links">
	  {% for link in work.links %}
	  <li><a href="{{ link.url }}" title="{{ link.title }}" target="_blank">
	      {% include icon.html icon=link.icon %}
	  </a></li>
	  {% endfor %}
	</ul>
      </div>
      <p>{{ work.description | markdownify }}</p>
    </div>
    {% if work.author %}
    <div class="author mdl-list__item {% if work.author_location %}mdl-list__item--two-line{% endif %}">
      <span class="mdl-list__item-primary-content">
	{% if work.author_avatar %}
	<div class="author-avatar" style="background: url('{{ work.author_avatar }}') center/cover;"></div>
	{% else %}
	<i class="material-icons mdl-list__item-avatar">person</i>
	{% endif %}
	<span>{{ work.author }}</span>
	{% if work.author_location %}
	<span class="mdl-list__item-sub-title">
	  {{ work.author_location }}
	</span>
	{% endif %}
      </span>
      {% if work.author_links %}
      <span class="mdl-list__item-secondary-content">
	<ul class="media-links">
	  {% for link in work.author_links %}
	  <li><a href="{{ link.url }}" title="{{ link.title }}" target="_blank">
	      {% include icon.html icon=link.icon %}
	  </a></li>
	  {% endfor %}
	</ul>
      </span>
      {% endif %}
    </div>
    {% endif %}
    <div class="mdl-card__menu">
    </div>
  </div>
  {% endfor %}
</div>
