---
# Only the main Sass file needs front matter (the dashes are enough)
---
//
// Main sass file, to import all styles
//

@charset "utf-8";

$spacing-unit:     30px;
$super-search:     rgba(0, 191, 255, 0.85);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$accent-color: #ff4081;

/* Global changes */
html > body {
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
    background-color: #FAFAFA;
}


/** Global supporting classes **/
// Common icon styling
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
}

// Most icons are svg icons, make them gray
svg.icon {
    fill: #828282;
}

// An icon row for media icons
.media-links { 
    display: flex;
    flex-direciton: row;

    // Reset <ul/> styling
    list-style: none;
    margin: 0;
    padding: 0;
}


/** Pin footer to the bottom of the page */
.mdl-layout {
    min-height: 100vh;
}

header.mdl-layout__header {
    /** Change default header color */
    background-color: #2196F3;

    /** Align title with navigation */
    .mdl-layout__header-row {
	padding: 0 16px;
    }

    /** Make navigation bar narrower than default */
    .mdl-navigation {
	height: 54px;
	user-select: none;
    }

    /** Change navigation to look like tabs */
    .mdl-navigation__link {
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 64px;
	padding: 0 16px;
	color: #fff;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;

	&.is-active {
	    opacity: 1;
	    border-bottom-color: $accent-color;
	}
    }

    // Icons and links in the header must be white
    svg.icon {
	fill: #fff;
    }

    // Links must be white too
    a {
	color: #fff;
	text-decoration: none;
    }
}

.mdl-card {
    // Banner size 
    .mdl-card__title {
	height: 176px;
    }

    // If the card needs to be expanded, expand description
    .mdl-card__supporting-text {
	flex: 1;
    }

    /** Card title with media links */
    .title-with-links {
	display: flex;
	flex-direciton: row;
	align-items: center;

	// Pin links to the right
	.mdl-card__title-text {
	    flex: 1;
	}
    }

    /** Author card block */
    .author {
	border-top: 1px solid rgba(0, 0, 0, .1);
    }

    /** Circle avatar */
    .author-avatar {
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 16px;
    }
}

// Custom styling for medium-sized screens
@media screen and (min-width: 840px) {
    // Add header padding
    header.mdl-layout__header {
	padding: 0 16px;
    }

    // Expand Main Page header for larger screens
    .main-page header {
	position: relative;
	height: 440px;
	background-image: url('Material_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	// Pin navigation to the bottom of the header
	.mdl-navigation {
	    position: absolute;
	    bottom: 0;
	}
    }
}
