<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Start Layout -->
    {% if site.header_type == 'drawer' %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
      {% include search_result.html %}
      {% include header_fixed.html %}
    {% else %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include search_result.html %}
      {% include header.html %}
    {% endif %}

    {{ content }}

    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>

</html>
